@import "@fortawesome/fontawesome-free/css/all.min.css";
@config "../../../tailwind.config.js";
@import "tailwindcss";

@font-face {
  font-family: 'kyiv-sans';
  src: url('/fonts/kyiv-sans.ttf') format('truetype');
}

:root {
}

a {
}
a:hover {
}

body {
}

h1 {

}

button {  
}

button:hover {
}

button:focus,
button:focus-visible {
}

